@media print {
  @page {
    // size: auto;
    counter-increment: page;
    counter-reset: page 1;
    @bottom-center {
      content: counter(page) " / " counter(pages);
    }
  }
  *,
  *::before,
  *::after,
  *::placeholder {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color-adjust: exact;
  }

  .page-break {
    page-break-before: always;
  }
  .avoid-break {
    page-break-inside: avoid;
  }

  ::-webkit-scrollbar {
    width: 0 !important;
  }
  ::-webkit-scrollbar {
    width: 0 !important;
    height: 0;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    -ms-overflow-style: none;
  }
  html {
    overflow: -moz-hidden-unscrollable; /*注意！若只打 hidden，chrome 的其它 hidden 会出问题*/
    height: 100%;
  }

  div:last-child {
    page-break-after: auto;
  }
}
